@charset "utf-8";


/*--------------------------------------------------------------*/
/* ------                  CONFIG BULMA                   ------*/
/*--------------------------------------------------------------*/

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$purple: #8a4d76;
$pink: #fa7c91;
$brown: #757763;
$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;
$blue-light:#D6F6F9;

// Update Bulma's global variables
$family-sans-serif: 'Nunito', sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$link: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
$box-radius: 0px;
$card-shadow: none;

// Import only what you need from Bulma
@import '../../node_modules/bulma/css/bulma.min.css';


/*--------------------------------------------------------------*/
/* ------             REGLES DEFAULT CSS                  ------*/
/*--------------------------------------------------------------*/

.App {
  margin:0;
  padding: 10px;
  height: 100%;
  font-family: 'Nunito', sans-serif;
  text-align: center;
  background: #DCD5D4;
}

a{
  color: black;
}

.overlay {
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  z-index: 1100;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
